.header{
    background-color : lightgrey;
    border-color : green;
    color : green;
    font-size : 20px;
    border-style : solid;
    border-radius : 5px;
    padding : 10px;
    margin-bottom : 10px;
    flex : 1
}

.header-error{
    background-color : lightgrey;
    border-color : red;
    color : red;
    font-size : 20px;
    border-style : solid;
    border-radius : 5px;
    padding : 10px;
    margin-bottom : 10px;
    flex : 1
}